<!DOCTYPE html>
<html lang="en">
  						  
<head>  					  
<meta charset="UTF-8">
<title> AAC Program </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
  
<body>

<div class="main">
    <div id="emotion" class="column">
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 374.jpg" onclick="broadcast('开心')" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 371.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 372.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 373.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 375.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 376.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 377.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 378.jpg" />
        <img src="/images/Pics for Pecs/EMOTIONS/Pyramid PECS Pictures 379.jpg" />
    </div>
    <div id="fruits" class="column">
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 634.jpg" onclick="broadcast('苹果')" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 638.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 647.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 677.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 687.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 691.jpg" />
    </div>
    <div id="vegetables" class="column">
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 641.jpg" onclick="broadcast('西兰花')"/>
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 643.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 652.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 658.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 662.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 669.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 676.jpg" />
        <img src="/images/Pics for Pecs/FRUITS & VEGETABLES/Pyramid PECS Pictures 686.jpg" />
    </div>
    <div id="animals" class="column">
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 070.jpg" onclick="broadcast('猫')"/>
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 082.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 072.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 148.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 076.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 060.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 088.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 091.jpg" />
        <img src="/images/Pics for Pecs/ANIMALS/Pyramid PECS Pictures 098.jpg" />
    </div>
    <div id="bodyparts" class="column">
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 281.jpg" onclick="broadcast('脚踝')"/>
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 282.jpg" onclick="broadcast('胳膊')"/>
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 283.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 284.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 285.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 287.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 288.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 289.jpg" />
        <img src="/images/Pics for Pecs/BODY PARTS/Pyramid PECS Pictures 290.jpg" />
    </div>
</div>

</body>

</html>