<!DOCTYPE html>
<html lang="en">
  						  
<head>  					  
<meta charset="UTF-8">
<title> AAC Program </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
  
<body>

<div class="main">
    <div id="emotion" class="column"></div>
    <div id="fruits" class="column"></div>
    <div id="vegetables" class="column"></div>
    <div id="animals" class="column"></div>
    <div id="bodyparts" class="column"></div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/speak.js"></script>
</div>

</body>

</html>